<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126914137982-7lleaa6q7s6vvidg30f2j4onnkr754hh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126914137982-7lleaa6q7s6vvidg30f2j4onnkr754hh</string>
	<key>API_KEY</key>
	<string>AIzaSyBgEJ9L7Q4RIiklIoFwdWhSLI1Jstwcj4c</string>
	<key>GCM_SENDER_ID</key>
	<string>126914137982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.openschool</string>
	<key>PROJECT_ID</key>
	<string>st-open-school</string>
	<key>STORAGE_BUCKET</key>
	<string>st-open-school.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126914137982:ios:d952e537accfe095ac2d2f</string>
</dict>
</plist>