<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126914137982-6tvsat17qvp84d9bvr6m7u62uuvd0oca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126914137982-6tvsat17qvp84d9bvr6m7u62uuvd0oca</string>
	<key>API_KEY</key>
	<string>AIzaSyBgEJ9L7Q4RIiklIoFwdWhSLI1Jstwcj4c</string>
	<key>GCM_SENDER_ID</key>
	<string>126914137982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.STTLEnterprise.openschool</string>
	<key>PROJECT_ID</key>
	<string>st-open-school</string>
	<key>STORAGE_BUCKET</key>
	<string>st-open-school.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:126914137982:ios:034e62d2c64e51b5ac2d2f</string>
</dict>
</plist>
